policy_module(cfengine_contrib, 1.0.4)

# semanage port -a -t cfserverd_port_t -p tcp 5308
gen_require(`
        attribute port_type;
        attribute reserved_port_type;

	type cfengine_execd_t;
	type cfengine_serverd_t;
	type cfengine_monitord_t;
	type cfengine_log_t;
')

# new type
type cfserverd_port_t, port_type, reserved_port_type;

#============= cfengine_serverd_t ==============
# allow cfengine_serverd_t 	fs_t:filesystem getattr;
fs_getattr_xattr_fs(cfengine_serverd_t);
# allow cfengine_serverd_t 	proc_net_t:file { read getattr open };
kernel_read_network_state(cfengine_serverd_t);
# allow cfengine_serverd_t 	vmware_sys_conf_t:dir getattr;
vmware_read_system_config(cfengine_serverd_t);

allow cfengine_serverd_t 	cfserverd_port_t:tcp_socket 	name_connect;

#============= cfengine_execd_t ==============
# allow cfengine_execd_t 		cfengine_log_t:file { read write };
cfengine_append_inherited_log(cfengine_execd_t);
allow cfengine_execd_t 		cfengine_log_t:lnk_file { read create unlink };

# allow cfengine_execd_t 		fs_t:filesystem getattr;
fs_getattr_xattr_fs(cfengine_execd_t);
# allow cfengine_execd_t 		proc_net_t:file { read getattr open };
kernel_read_network_state(cfengine_execd_t);
# allow cfengine_execd_t 		vmware_sys_conf_t:dir getattr;
vmware_read_system_config(cfengine_execd_t);

#============= cfengine_monitord_t ==============
# allow cfengine_monitord_t 	vmware_sys_conf_t:dir getattr;
vmware_read_system_config(cfengine_monitord_t);
